{%- set provider_configs = {
    'provider': {
        'min_version': "2.6.0",
        'region': "eu-west-1",
        'access_key': _auth.saltstack.aws_access_key_id,
        'secret_key': _auth.saltstack.aws_secret_access_key
        }
    }
-%}
