{%- set terraform_backend_configs = {
    'terraform_backend': {
        'name': "applied-blockchain-terraform-state-ab",
        'region': "eu-west-1",
        'access_key': _auth.saltstack.aws_access_key_id,
        'secret_key': _auth.saltstack.aws_secret_access_key
        }
    }
-%}
