{%- set ami_configs = {
    'ami': {
        'name': "vm-ami",
        'ami_name': "ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-*",
        'ami_owner': "099720109477",
        'virtualization_type': "hvm" 
    }
} -%}
