apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: {{ name }}
  labels:
    app: {{ name }}
spec:
  selector:
    matchLabels:
      app: {{ name }}
  replicas: {{ replicas }}
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      containers:
        - name: {{ name }}
          image: {{ image }}:{{ tag }} 
          ports:
          - containerPort: {{ port }}
      {% if regsecret is defined -%}
      imagePullSecrets:
        - name: {{ regsecret }}
      {%- endif %}


