{%- set vpc_configs = {
    'vpc': {
        'name': _pillar.cluster_name + '-vpc',
        'cidr': _pillar.network.cidr,
        'subnets': {
            'private': _pillar.network.subnets.private,
            'public': _pillar.network.subnets.public
        },
        'tags': {
            ('kubernetes.io/cluster/'+_pillar.cluster_name): "shared"
        }
    }
} -%}
{# kubernetest.io/... tag required for eks load balancer integration #}
